{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    {%include 'UsersBundle:Default:modulesUsed/usersconnected.html.twig' %}
    <div class="span9">
        <h2>Changer mon mot de passes</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span4">
                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
