<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_security_login') }}">Inloggen</a>
        </li>
        <li>
            <a href="{{ path('fos_user_registration_register')}}">Nieuw account aanmaken</a>
        </li>
    </ul>
</div>